<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xin.pwdkeeper.wechat.mapper.AccountInfoMapper">
    <!-- 添加 resultMap 定义 -->
    <resultMap id="AccountInfoResultMap" type="xin.pwdkeeper.wechat.bean.AccountInfo">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="classType" column="class_type"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="otherSecret" column="other_secret"/>
        <result property="bindPhone" column="bind_phone"/>
        <result property="bindEmail" column="bind_email"/>
        <result property="bindAnswer" column="bind_answer"/>
        <result property="bindAsk" column="bind_ask"/>
        <result property="creationTime" column="creation_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="flag" column="flag"/>
    </resultMap>

    <!-- 添加公共的查询字段 -->
    <sql id="selectAccountInfo">
        id, user_id, class_type, account, password, other_secret, bind_phone, bind_email, bind_answer, bind_ask, creation_time, update_time, flag
    </sql>

    <insert id="insert" parameterType="xin.pwdkeeper.wechat.bean.AccountInfo">
        INSERT INTO account_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="classType != null">class_type,</if>
            <if test="account != null and account != ''">account,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="otherSecret != null and otherSecret != ''">other_secret,</if>
            <if test="bindPhone != null and bindPhone != ''">bind_phone,</if>
            <if test="bindEmail != null and bindEmail != ''">bind_email,</if>
            <if test="bindAnswer != null and bindAnswer != ''">bind_answer,</if>
            <if test="bindAsk != null and bindAsk != ''">bind_ask,</if>
            <if test="creationTime != null">creation_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="flag != null">flag</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="classType != null">#{classType},</if>
            <if test="account != null and account != ''">#{account},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="otherSecret != null and otherSecret != ''">#{otherSecret},</if>
            <if test="bindPhone != null and bindPhone != ''">#{bindPhone},</if>
            <if test="bindEmail != null and bindEmail != ''">#{bindEmail},</if>
            <if test="bindAnswer != null and bindAnswer != ''">#{bindAnswer},</if>
            <if test="bindAsk != null and bindAsk != ''">#{bindAsk},</if>
            <if test="creationTime != null">#{creationTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="flag != null">#{flag}</if>
        </trim>
    </insert>

    <select id="selectById" resultMap="AccountInfoResultMap">
        SELECT <include refid="selectAccountInfo"/> FROM account_info WHERE id = #{id}
    </select>

    <select id="selectAll" resultMap="AccountInfoResultMap">
        SELECT <include refid="selectAccountInfo"/> FROM account_info
    </select>

    <update id="update" parameterType="java.util.List">
        <foreach collection="list" item="accountInfo" separator=";">
            UPDATE account_info
            <set>
                <if test="accountInfo.classType != null">class_type = #{accountInfo.classType},</if>
                <if test="accountInfo.account != null and accountInfo.account != ''">account = #{accountInfo.account},</if>
                <if test="accountInfo.password != null and accountInfo.password != ''">password = #{accountInfo.password},</if>
                <if test="accountInfo.otherSecret != null and accountInfo.otherSecret != ''">other_secret = #{accountInfo.otherSecret},</if>
                <if test="accountInfo.bindPhone != null and accountInfo.bindPhone != ''">bind_phone = #{accountInfo.bindPhone},</if>
                <if test="accountInfo.bindEmail != null and accountInfo.bindEmail != ''">bind_email = #{accountInfo.bindEmail},</if>
                <if test="accountInfo.bindAnswer != null and accountInfo.bindAnswer != ''">bind_answer = #{accountInfo.bindAnswer},</if>
                <if test="accountInfo.bindAsk != null and accountInfo.bindAsk != ''">bind_ask = #{accountInfo.bindAsk},</if>
                <!-- Uncomment if needed -->
                <!-- <if test="accountInfo.creationTime != null">creation_time = #{accountInfo.creationTime},</if> -->
                update_time = NOW(),
                <!-- <if test="accountInfo.flag != null">flag = #{accountInfo.flag}</if> -->
            </set>
            WHERE id = #{accountInfo.id} and flag = 0
        </foreach>
    </update>
    <update id="bulkChangesFlagState" parameterType="java.util.List">
        UPDATE account_info
        SET flag = 1
        WHERE id IN
        <foreach item="id" index="index" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <select id="selectByUserId" resultMap="AccountInfoResultMap">
        SELECT id, class_type, account, password, other_secret, bind_phone, bind_email, bind_answer, bind_ask, update_time
        FROM account_info
        WHERE user_id = #{userId} and flag = 0
        ORDER BY id <!-- 你可以根据需要更改排序字段 -->
    </select>
    <delete id="delete">
        DELETE FROM account_info WHERE id = #{id}
    </delete>
</mapper>