<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.taobaok.wechat.mapper.TbOrderDetailsMapper">
  <resultMap id="BaseResultMap" type="xyz.taobaok.wechat.bean.dataoke.TbOrderDetails">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tb_paid_time" jdbcType="TIMESTAMP" property="tbPaidTime" />
    <result column="pay_price" jdbcType="DECIMAL" property="payPrice" />
    <result column="trade_parent_id" jdbcType="VARCHAR" property="tradeParentId" />
    <result column="pub_share_fee" jdbcType="DECIMAL" property="pubShareFee" />
    <result column="tk_earning_time" jdbcType="TIMESTAMP" property="tkEarningTime" />
    <result column="pub_share_rate" jdbcType="VARCHAR" property="pubShareRate" />
    <result column="refund_tag" jdbcType="VARCHAR" property="refundTag" />
    <result column="tk_total_rate" jdbcType="DECIMAL" property="tkTotalRate" />
    <result column="item_title" jdbcType="VARCHAR" property="itemTitle" />
    <result column="tk_status" jdbcType="INTEGER" property="tkStatus" />
    <result column="item_id" jdbcType="VARCHAR" property="itemId" />
    <result column="item_link" jdbcType="VARCHAR" property="itemLink" />
    <result column="total_commission_fee" jdbcType="VARCHAR" property="totalCommissionFee" />
    <result column="special_id" jdbcType="VARCHAR" property="specialId" />
    <result column="relation_id" jdbcType="VARCHAR" property="relationId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, tb_paid_time, pay_price, trade_parent_id, pub_share_fee, tk_earning_time, pub_share_rate, 
    refund_tag, tk_total_rate, item_title, tk_status, item_id, item_link, total_commission_fee, 
    special_id, relation_id, `status`, create_time, update_time
  </sql>
    <!-- 根据special_id查询订单信息 -->
  <select id="selectByPrimarySpecialId" parameterType="java.lang.String" resultType="java.lang.Integer">
    select
    COUNT(*)
    from tb_order_details
    where special_id = #{specialId,jdbcType=VARCHAR}
  </select>
    <!-- 根据订单号查询订单信息 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_order_details
    where trade_parent_id = #{tradeParentId,jdbcType=VARCHAR}
  </select>

    <!-- 查询用户已付款订单数-->
    <select id="selectSpecialIdtkStatus" resultType="java.lang.Integer">
        select
        COUNT(*)
        from tb_order_details
        where special_id = #{specialId,jdbcType=VARCHAR} and tk_status = #{tkStatus,jdbcType=INTEGER}
    </select>
    <!-- 查询用户订单数据 可选条件：条数 -->
    <select id="selectByPrimarySpecialIdInfo" resultType="xyz.taobaok.wechat.bean.dataoke.TbOrderDetails">
        select
        <include refid="Base_Column_List" />
        from tb_order_details
        where special_id = #{specialId,jdbcType=VARCHAR}
        <if test="limit != null">
            LIMIT #{limit,jdbcType=INTEGER}
        </if>
    </select>
    <!--查询订单表中付款状态订单最早和最晚时间 -->
    <select id="allTkStatusPayment" resultType="xyz.taobaok.wechat.bean.MaxMinCreateTime">
        SELECT MIN(create_time) min_time, MAX(create_time) max_time FROM tb_order_details WHERE tk_status = 12
    </select>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="xyz.taobaok.wechat.bean.dataoke.TbOrderDetails" useGeneratedKeys="true">
    insert into tb_order_details (tb_paid_time, pay_price, trade_parent_id, 
      pub_share_fee, tk_earning_time, pub_share_rate, 
      refund_tag, tk_total_rate, item_title, 
      tk_status, item_id, item_link, 
      total_commission_fee, special_id, relation_id, 
      `status`
      )
    values (#{tbPaidTime,jdbcType=TIMESTAMP}, #{payPrice,jdbcType=DECIMAL}, #{tradeParentId,jdbcType=VARCHAR}, 
      #{pubShareFee,jdbcType=DECIMAL}, #{tkEarningTime,jdbcType=TIMESTAMP}, #{pubShareRate,jdbcType=VARCHAR}, 
      #{refundTag,jdbcType=VARCHAR}, #{tkTotalRate,jdbcType=DECIMAL}, #{itemTitle,jdbcType=VARCHAR}, 
      #{tkStatus,jdbcType=INTEGER}, #{itemId,jdbcType=VARCHAR}, #{itemLink,jdbcType=VARCHAR}, 
      #{totalCommissionFee,jdbcType=VARCHAR}, #{specialId,jdbcType=VARCHAR}, #{relationId,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}
      )
  </insert>
    <!-- 插入新的订单或修改订单状态 -->
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="xyz.taobaok.wechat.bean.dataoke.TbOrderDetails" useGeneratedKeys="true">
    insert into tb_order_details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tbPaidTime != null">
        tb_paid_time,
      </if>
      <if test="payPrice != null">
        pay_price,
      </if>
      <if test="tradeParentId != null">
        trade_parent_id,
      </if>
      <if test="pubShareFee != null">
        pub_share_fee,
      </if>
      <if test="tkEarningTime != null">
        tk_earning_time,
      </if>
      <if test="pubShareRate != null">
        pub_share_rate,
      </if>
      <if test="refundTag != null">
        refund_tag,
      </if>
      <if test="tkTotalRate != null">
        tk_total_rate,
      </if>
      <if test="itemTitle != null">
        item_title,
      </if>
      <if test="tkStatus != null">
        tk_status,
      </if>
      <if test="itemId != null">
        item_id,
      </if>
      <if test="itemLink != null">
        item_link,
      </if>
      <if test="totalCommissionFee != null">
        total_commission_fee,
      </if>
      <if test="specialId != null">
        special_id,
      </if>
      <if test="relationId != null">
        relation_id,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tbPaidTime != null">
        #{tbPaidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payPrice != null">
        #{payPrice,jdbcType=DECIMAL},
      </if>
      <if test="tradeParentId != null">
        #{tradeParentId,jdbcType=VARCHAR},
      </if>
      <if test="pubShareFee != null">
        #{pubShareFee,jdbcType=DECIMAL},
      </if>
      <if test="tkEarningTime != null">
        #{tkEarningTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pubShareRate != null">
        #{pubShareRate,jdbcType=VARCHAR},
      </if>
      <if test="refundTag != null">
        #{refundTag,jdbcType=VARCHAR},
      </if>
      <if test="tkTotalRate != null">
        #{tkTotalRate,jdbcType=DECIMAL},
      </if>
      <if test="itemTitle != null">
        #{itemTitle,jdbcType=VARCHAR},
      </if>
      <if test="tkStatus != null">
        #{tkStatus,jdbcType=INTEGER},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="itemLink != null">
        #{itemLink,jdbcType=VARCHAR},
      </if>
      <if test="totalCommissionFee != null">
        #{totalCommissionFee,jdbcType=VARCHAR},
      </if>
      <if test="specialId != null">
        #{specialId,jdbcType=VARCHAR},
      </if>
      <if test="relationId != null">
        #{relationId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.taobaok.wechat.bean.dataoke.TbOrderDetails">
    update tb_order_details
    <set>
      <if test="tbPaidTime != null">
        tb_paid_time = #{tbPaidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payPrice != null">
        pay_price = #{payPrice,jdbcType=DECIMAL},
      </if>
      <if test="tradeParentId != null">
        trade_parent_id = #{tradeParentId,jdbcType=VARCHAR},
      </if>
      <if test="pubShareFee != null">
        pub_share_fee = #{pubShareFee,jdbcType=DECIMAL},
      </if>
      <if test="tkEarningTime != null">
        tk_earning_time = #{tkEarningTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pubShareRate != null">
        pub_share_rate = #{pubShareRate,jdbcType=VARCHAR},
      </if>
      <if test="refundTag != null">
        refund_tag = #{refundTag,jdbcType=VARCHAR},
      </if>
      <if test="tkTotalRate != null">
        tk_total_rate = #{tkTotalRate,jdbcType=DECIMAL},
      </if>
      <if test="itemTitle != null">
        item_title = #{itemTitle,jdbcType=VARCHAR},
      </if>
      <if test="tkStatus != null">
        tk_status = #{tkStatus,jdbcType=INTEGER},
      </if>
      <if test="itemId != null">
        item_id = #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="itemLink != null">
        item_link = #{itemLink,jdbcType=VARCHAR},
      </if>
      <if test="totalCommissionFee != null">
        total_commission_fee = #{totalCommissionFee,jdbcType=VARCHAR},
      </if>
      <if test="specialId != null">
        special_id = #{specialId,jdbcType=VARCHAR},
      </if>
      <if test="relationId != null">
        relation_id = #{relationId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.taobaok.wechat.bean.dataoke.TbOrderDetails">
    update tb_order_details
    set tb_paid_time = #{tbPaidTime,jdbcType=TIMESTAMP},
      pay_price = #{payPrice,jdbcType=DECIMAL},
      trade_parent_id = #{tradeParentId,jdbcType=VARCHAR},
      pub_share_fee = #{pubShareFee,jdbcType=DECIMAL},
      tk_earning_time = #{tkEarningTime,jdbcType=TIMESTAMP},
      pub_share_rate = #{pubShareRate,jdbcType=VARCHAR},
      refund_tag = #{refundTag,jdbcType=VARCHAR},
      tk_total_rate = #{tkTotalRate,jdbcType=DECIMAL},
      item_title = #{itemTitle,jdbcType=VARCHAR},
      tk_status = #{tkStatus,jdbcType=INTEGER},
      item_id = #{itemId,jdbcType=VARCHAR},
      item_link = #{itemLink,jdbcType=VARCHAR},
      total_commission_fee = #{totalCommissionFee,jdbcType=VARCHAR},
      special_id = #{specialId,jdbcType=VARCHAR},
      relation_id = #{relationId,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>