<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xin.pwdkeeper.wechat.mapper.WechatUserInfoMapper">
    <insert id="insert" parameterType="xin.pwdkeeper.wechat.bean.WechatUserInfo">
        INSERT INTO wechat_user_info (user_open_id, user_name, phone, email, follow_status, create_time)
        VALUES (#{userOpenId}, #{userName}, #{phone}, #{email}, #{followStatus}, #{createTime})
    </insert>

    <select id="selectById" resultType="xin.pwdkeeper.wechat.bean.WechatUserInfo">
        SELECT * FROM wechat_user_info WHERE id = #{id}
    </select>

    <select id="selectAll" resultType="xin.pwdkeeper.wechat.bean.WechatUserInfo">
        SELECT * FROM wechat_user_info
    </select>

    <update id="update" parameterType="xin.pwdkeeper.wechat.bean.WechatUserInfo">
        UPDATE wechat_user_info
        SET user_open_id = #{userOpenId}, user_name = #{userName}, phone = #{phone}, email = #{email}, follow_status = #{followStatus}, create_time = #{createTime}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM wechat_user_info WHERE id = #{id}
    </delete>
</mapper>