<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xin.pwdkeeper.wechat.mapper.WechatUserInfoMapper">
    <!-- 添加 resultMap 定义 -->
    <resultMap id="WechatUserInfoResultMap" type="xin.pwdkeeper.wechat.bean.WechatUserInfo">
        <id property="id" column="id"/>
        <result property="userOpenId" column="user_open_id"/>
        <result property="userName" column="user_name"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="followStatus" column="follow_status"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <!-- 添加公共的查询字段 -->
    <sql id="selectWechatUserInfo">
        id, user_open_id, user_name, phone, email, follow_status, create_time
    </sql>

    <insert id="insert" parameterType="xin.pwdkeeper.wechat.bean.WechatUserInfo">
        INSERT INTO wechat_user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userOpenId != null and userOpenId != ''">user_open_id,</if>
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="email != null and email != ''">email,</if>
            <if test="followStatus != null">follow_status,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userOpenId != null and userOpenId != ''">#{userOpenId},</if>
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="email != null and email != ''">#{email},</if>
            <if test="followStatus != null">#{followStatus},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <select id="selectById" resultMap="WechatUserInfoResultMap">
        SELECT <include refid="selectWechatUserInfo"/> FROM wechat_user_info WHERE id = #{id}
    </select>

    <select id="selectByUserOpenId" resultMap="WechatUserInfoResultMap">
        SELECT <include refid="selectWechatUserInfo"/> FROM wechat_user_info WHERE user_open_id = #{userOpenId}
    </select>

    <select id="selectAll" resultMap="WechatUserInfoResultMap">
        SELECT <include refid="selectWechatUserInfo"/> FROM wechat_user_info
    </select>

    <update id="update" parameterType="xin.pwdkeeper.wechat.bean.WechatUserInfo">
        UPDATE wechat_user_info
        <set>
            <if test="userOpenId != null and userOpenId != ''">user_open_id = #{userOpenId},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="followStatus != null">follow_status = #{followStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM wechat_user_info WHERE id = #{id}
    </delete>
</mapper>